.noticias-page {
    margin-top: 30px;
    padding-bottom: 20px;
}

.noticias-page h1 {
    text-transform: uppercase;
    font-size: 2.7rem;
    padding-top: 10px;
    padding-bottom: 20px;
}

.noticias-page::before {
    content: " ";
    position: absolute;
    background-color: #002A61;
    width: 100px;
    height: 6px;
}

/* CARD NOTICIAS */

.noticia .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.noticia .card {
    position: relative;
    margin: 15px;
    max-width: 350px;
    box-shadow: 2px 2px 10px 0px #8b8b8b57;
}

.noticia .card a:hover {
    text-decoration: none;
}

.noticia .cardTop{
    height: 220px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.noticia .cardTop img {
    width: auto;
    height: inherit;
    transition: 0.2s ease-in-out;
}

.noticia .cardTop img:hover {
    transform: scale(1.05);
}

.noticia .cardBottom {
    padding: 10px 10px 45px 15px;
    color: #1a1a1a;
}

.noticia .cardBottom p {
    font-size: 1.5rem;
    margin: 10px 0;
}

.noticia .leiaMais {
    position: absolute;
    bottom: 0;
    border-left-color: #fe9d48;
    border-left-style: solid;
    border-left-width: 6px;
    padding-left: 10px;
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin: 0px 15px 15px 15px;
    transition: 0.3s ease-in-out;
}

.noticia .leiaMais:hover {
    color: #fe9d48;
}


/* PAGINAÇÃO */

.noticia .pagination {
    display: flex;
    justify-content: center;
    font-size: 14px;
    grid-gap: 1rem;
    margin: 2rem 0;
}

.noticia .pagination span, a {
    color: #000;
}

/* Responsividade */

@media only screen and (max-width:992px) {
    .noticia .row {
        grid-template-columns: 1fr 1fr;
    }

    .noticia .card {
        margin: 15px auto;
    }
}

@media only screen and (max-width:768px) {
    .noticia .card {
        max-width: 100%;
        margin: 15px;
    }

    .noticia .card .cardTop {
        height: unset;
    }

    .noticia .cardTop img {
        width: 100%;
    }
}


@media only screen and (max-width:576px) {
    .noticia .row {
        grid-template-columns: 1fr;
    }
}