/* -- Default -- */
.orange-title {
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    background: #DD8503;
    font-size: 2rem;
  }
  
  .blue-line {
    height: 7px;
    width: 100px;
    display: block;
    background: #022a61;
  }
  
  /* // ------------------------------------------------------ // */
  
  .solucoes-title, .cases-title {
    display: flex;
    justify-content: center;
  }
  
  .solucoes-title .orange-title {
    margin: 40px 0 30px 0;
  }
  
  .solucoes-menu__title h4 {
    font-size: 2.2rem;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  .solucoes-menu__content > div > ul {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 445px;
  }
  
  .solucoes-item {
    padding: 10px 0;
  }
  
  .solucoes-item > a {
    display: flex;
    align-items: center;
  }
  
  .solucoes-item > a img {
    width: 60px;
  }
  
  .solucoes-item > a span {
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    color: #000000;
  }
  
  .solucoes-item > a p {
    display: none;
  }
  
  .solucoes-item > ul {
    margin-left: 70px;
    margin-top: -5px;
  }
  
  .solucoes-item > ul .solucoes-item__sub::before {
    content: "•";
    font-weight: bold;
    margin-right: 5px;
  }
  
  .solucoes-item > ul .solucoes-item__sub a {
    color: #000000;
    font-family: "Montserrat", Montserrat;
    font-size: 15px;
    line-height: 1.7em;
  }
  
  /* Cases Title */
  .cases-title .orange-title {
    margin: 60px 0 0 0;
  }
  
  .page-home__solucoes #noticias {
    margin-bottom: 120px;
  }
  
  .page-home__solucoes #noticias::before {
    content: none;
  }
  
  .page-home__solucoes #noticias button {
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    background-color: #fe9d48;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    float: left;
  }
  
  
  /* Responsividade */
  @media only screen and (max-width:1200px) {
    .solucoes-menu__content > div > ul {
      width: 50%;
      height: 505px;
    }
  
    .solucoes-item {
      padding: 10px;
    }
  
    .cases-title .orange-title {
      margin: 40px 0 0 0;
    }
  
  }
  
  @media only screen and (max-width:992px) {
    .solucoes-menu__content > div > ul {
      width: unset;
      height: unset;
    }
  
    .solucoes-item {
      padding: 15px 0;
    }
  }
  
  @media only screen and (max-width:768px) {
  }
  
  @media only screen and (max-width:576px) {
  
  }
  